<div class="padTop">
  <div class="scrodiv center">
    <table clss="center">
      <tr>
        <th class="td1, thfont">NOME</th>
        <th class="td2, thfont">COGNOME</th>
        <th class="td3, thfont">TELEFONO</th>
        <th class="td1, thfont">SELEZIONA</th>
      </tr>
      <tr *ngFor="let c of rubrica.contatti; index as i">
        <td>{{c.nome}}</td>
        <td>{{c.cognome}}</td>
        <td>{{c.telefono}}</td>
        <td><button (click)="seleziona(c)">SELEZIONA</button></td>
      </tr>
    </table>
  </div>
</div>
<br>