.dimensioneMax{
    width: 660px;
    height: 540px;
}
.bgdesk {
    margin-left: auto;
    margin-right: auto;
    background-color: #d3e7ff;
    border-style: solid;
}

.margineLaterale {
    margin-left: 10px;
    margin-right: 10px;
}

.margineTop {
    margin-top: 5px;
}
.margineDown {
    margin-bottom: 5px;
}

.padM {
    padding: 10px;
}

.padL {
    padding: 15px;
}

.padTop {
    padding-top: 15px;
}

.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 900px;
    height: 400px;
}

.centerS {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.centerblue {
    background-color: rgb(232, 239, 255);
    width: 500px;
    height: 250px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

input {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
    width: 200px;
    height: 14px;
}

h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding-top: 20px;
}

button {
    border-radius: 8px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
    width: 90px;
    height: 30px;
}

#left1 {
    float: left;
}

#container {
    width: 100%;
    text-align: center;
}

#left3 {
    float: left;
    width: 33%;
}

#center3 {
    display: inline-block;
    margin: 0 auto;
    width: 34%;
}

#right3 {
    float: right;
    width: 33%;
}
#container2 {
    width: 100%;
    text-align: center;
}
#left2 {
    float: left;
    width: 20%;
}

#right2 {
    float: right;
    width: 80%;
}

#container4 {
    width: 100%;
    text-align: center;
}

#left4 {
    float: left;
    width: 25%;
}

#leftcenter4 {
    display: inline-block;
    margin: 0 auto;
    width: 25%;
}

#rightcenter4 {
    display: inline-block;
    margin: 0 auto;
    width: 25%;
}

#right4 {
    float: right;
    width: 25%;
}