<div class="bgdesk dimensioneMax">
    <h2 class="centerS">HOME PAGE</h2>
    <h3 class="centerS">Rubrica</h3>
    <div class="margineTop">
        <button class="margineLaterale" (click)="conta()">Conta</button>
        <button class="margineLaterale" (click)="ricerca()">Ricerca</button>
        <button class="margineLaterale" (click)="logOut()">Logout</button>
    </div>
    <hr>
    <div>
        <button class="margineLaterale margineTop margineDown" (click)="nuova()" *ngIf="buttonNuovaVisible"
            Title="inserisci nuovo prodotto">Nuova</button>
    </div>
    <div *ngIf="formDivVisible">
        <div id="container3">
            <div id="left3" class="centerS">
                <label>Nome</label>
                <br>
                <input type="text" [(ngModel)]="contatto.nome" [disabled]="campiNonEditabili">
            </div>
            <div id="center3" class="centerS">
                <label>Cognome</label>
                <br>
                <input type="text" [(ngModel)]="contatto.cognome" [disabled]="campiNonEditabili">
            </div>
            <div id="right3" class="centerS">
                <label>Telefono</label>
                <br>
                <input type="text" [(ngModel)]="contatto.telefono" [disabled]="campiNonEditabili">
            </div>
        </div>
        <br>
        <div>
            <button class="margineLaterale margineTop margineDown" (click)="modifica()"
                *ngIf="!confAnnVisible">Modifica</button>
            <button class="margineLaterale margineTop margineDown" (click)="conferma()"
                *ngIf="confAnnVisible">Conferma</button>
            <button class="margineLaterale margineTop margineDown" (click)="annulla()"
                *ngIf="confAnnVisible">Annulla</button>
            <button class="margineLaterale margineTop margineDown" (click)="rimuovi()"
                *ngIf="!confAnnVisible">Rimuovi</button>
        </div>

    </div>
    <div>
        <app-tabella (select)="seleziona($event)"></app-tabella>
    </div>
</div>