<div class="bgdesk dimensioneMax">

    <button class="margineTop margineLaterale" (click)="tornaMain()">Main Page</button>
    <div class="center">
        <h2 class="centerS">SEARCH PAGE</h2>
        <h3 class="centerS">Rubrica</h3>
        <hr>
        <div>
            <input class="margineLaterale" type="text" [(ngModel)]="searchCriteria">
            <button class="margineLaterale" (click)="figlio.cerca(searchCriteria)">Cerca</button>
        </div>
        <div class="margineTop">
            <app-tabella #figlio [filtro]=searchCriteria></app-tabella>
        </div>
    </div>
</div>